footer {
  font-size: 20px;
  padding: 50px 0 65px;

  .list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 12px;

    a {
      color: #337ab7;

      &:hover,
      &:focus {
        color: #0085a1;
      }
    }
  }
}
