.pager {
  margin: 20px 0 0 !important;
  padding: 0 !important;

  li {
    span {
      font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
      line-height: 1.7;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 10px;
      background-color: white;
      border-radius: 0;
    }

    a {
      color: #404040;

      @extend span;

      &:hover,
      &:focus {
        color: white;
        background-color: #0085a1;
        border: 1px solid #0085a1;
      }

    }
  }
}

@media only screen and (min-width: 768px) {
  .pager li {
    a,
    span {
      font-size: 14px;
      padding: 15px 25px;
    }
  }
}
