body {
  line-height: 1.7;
  font-size: 16px;
  color: #404040;
  overflow-x: hidden;
  font-family: -apple-system,  "PingFang SC","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2{font-size: 22px;}
h3{font-size: 20px;}
h4{font-size: 18px;}
h5{font-size: 16px;}
h6{font-size: 15px;}

a {
  color: #404040;

  &:hover,
  &:focus {
    color: #0085a1;
  }

  &:focus {
    outline: none;
  }


  img {
    &:hover,
    &:focus {
      cursor: zoom-in;
    }
  }
}

hr{
  margin:0;
}


p {
  margin:0 0 20px;
}


blockquote {
  color: #808080;
  font-size: 0.95em;
  margin: 20px 0 20px;
  border-color: #ff7e79;
}

blockquote p {
  margin: 0;
}

small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center;
}

br + small.img-hint {
  margin-top: -40px;
}

img.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 0;
}

@media screen and (max-width: 768px) {
  select {
    -webkit-appearance: none;
    margin-top: 15px;
    color: #337ab7;
    border-color: #337ab7;
    padding: 0 0.4em;
    background: white;
  }
}

.table th,
.table td {
  border: 1px solid #eee !important;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border:4px white;
}

pre,
.table-responsive {
  -webkit-overflow-scrolling: touch;
}

pre code {
  display: block;
  width: auto;
  white-space: pre;
  word-wrap: normal;
}

.btn {
  font-family: -apple-system, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #0085a1;
  border: 1px solid #0085a1;
  color: white;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}


::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}
