.sidebar-container {
  color: #bfbfbf;
  font-size: 14px;
  margin-top: 35px;
  padding: 12px 50px;

  .short-about {
    text-align: center;

    img {
      width: 100%;
      display: block;
      border-radius: 50%;
      margin-bottom: 20px;
      box-shadow: 0 0 2px black;
    }

    p {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .list-inline > li {
      padding-left: 0;
    }

    h5 {
      color: #808080;

      a {
        color: #808080 !important;
        text-decoration: none;
      }
    }

    a {
      color: #bfbfbf !important;

      &:hover,
      &:active {
        color: #0085a1 !important;
      }
    }

    .tags a {
      border-color: #bfbfbf;

      &:hover,
      &:active {
        border-color: #0085a1;
      }
    }
  }
}
