$GREY50  : #FAFAFA !global;
$GREY100 : #F5F5F5 !global;
$GREY200 : #EEEEEE !global;
$GREY300 : #E0E0E0 !global;
$GREY400 : #BDBDBD !global;
$GREY500 : #9E9E9E !global;
$GREY600 : #757575 !global;
$GREY700 : #616161 !global;
$GREY800 : #424242 !global;
$GREY900 : #212121 !global;

$MAIN0   : #FE667F !global;
$MAIN1   : #0085a1 !global;

$BLACK   : black   !global;
