@import "../global/_all";

#post {
  .intro {
    padding: 56px 12px 0;

    h1 {
      text-align: center;
      font-size: 42px;
      font-weight: 700;
      color: $GREY900;
      margin: 24px 0;

      @media (max-width: 720px) {
        font-size: 32px;
        margin: 16px 0;
      }
    }

    a {
      text-decoration: none;
      color: $MAIN1;

      &:hover, &:focus {
        color: $MAIN1;
        text-decoration: underline;
      }
      &:active {
        color: $MAIN1;
      }
    }

    .meta {
      color: $GREY700;
      font-size: 17px;
      line-height: 1.8;
      text-align: center;

      @media (max-width: 720px) {
        font-size: 16px;
      }

      .categories {
        a {
          font-weight: 700;
        }
      }
    }
  }


  .post-content {
    margin: 36px auto 56px;
    padding: 0 16px;
    max-width: 768px;
  }

  article {
    & > p {
      &.date,
      &.author,
      &.creator,
      &.validation {
        display: none;
      }
    }
  }
}

.license {
  margin: 50px 0 0;
  padding: 12px;
  width: 100%;
  background-color: rgba(#fff, 0.6);
  border-radius: 6px;
  border: 2px dashed rgba($GREY400, 0.6);
  color: #333;
}
