@import "../global/_all";

footer {
  @include flex(c, c, c);
  margin: 36px 0 0;
  padding: 64px 0;
  color: $GREY600;
  font-weight: 300;
}

.back-to-top {
  $color: rgba($GREY400, 0.6);
  $hover-color: $MAIN0;

  position: fixed;
  bottom: 32px;
  right: 32px;
  @include flex(c, c, c);
  width: 42px;
  height: 42px;
  border: 2px solid $color;
  border-radius: 12px;

  .feather-arrow-up {
    stroke: $color;
  }

  &:hover {
    border: 2px solid $hover-color;
    background: $hover-color;
    border-radius: 12px;

    .feather-arrow-up {
      stroke: $MAINB;
    }
  }
}
