@import "../global/_all";


.pager {
  @include flex(r, sb, c);
  overflow: hidden;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 768px;

  .previous, .next {
    @include flex(r, c, c);
  }

  a {
    $hover-bcolor: $MAIN0;
    $hover-color: $MAINB;

    @include flex(r, c, c);

    padding: 16px 20px;
    border: 2px solid rgba($GREY400, 0.6);
    font-size: 18px;
    font-weight: 600;
    color: $GREY900;
    border-radius: 12px;
    .icon {
      background: $GREY900;
    }

    &:hover, &:focus, &:active {
      text-decoration: none;
      background: $hover-bcolor;
      border: 2px solid $hover-bcolor;
      color: $hover-color;

      .icon {
        background: $hover-color;
      }
    }

    &.non-use {
      color: rgba($GREY400, 0.6);

      .icon {
        background: rgba($GREY400, 0.6);
      }

      &:hover, &:focus, &:active {
        background: rgba(#fff, 0);
        border: 2px solid rgba($GREY400, 0.6);
      }
    }

    span {
      padding: 0 6px;
    }
  }

}
