@import "../global/_all";


.pager {
  @include flex(r, c, c);
  overflow: hidden;

  .previous {
    @include flex(r, c, c);
    margin: 6px;
  }

  .next {
    @extend .previous;
  }

  a {
    $hover-bcolor: $MAIN0;
    $hover-color: $MAINB;

    @include flex(r, c, c);

    padding: 16px 22px;
    border: 2px solid rgba($GREY400, 0.6);
    font-size: 18px;
    font-weight: 600;
    color: $GREY900;
    .icon {
      background: $GREY900;
    }

    &:hover, &:focus, &:active {
      text-decoration: none;
      background: $hover-bcolor;
      border: 2px solid $hover-bcolor;
      border-radius: 1px;
      color: $hover-color;

      .icon {
        background: $hover-color;
      }
    }

    span {
      padding: 0 6px;
    }
  }

}
