@import '../global/_all';

$date-color: $GREY600;
$date-size: 14px;

@mixin post-link {
  color: $MAIN0;
  &:hover, &:focus, &:active {
    color: $MAIN3;
  }
}

.post-preview {
  background: rgba(#fff, 0.6);
  padding: 12px;
  border-radius: 8px;
  margin: 12px auto;

  .post-title {
    font-size: 28px;
    @include post-link;;
  }

  .post-attr {
    @include flex(r, s, c);
    flex-wrap: wrap;
    margin-top: 12px;
    overflow: hidden;
  }

  .post-date {
    @include flex(r, s, c);
    color: $date-color;
    font-size: $date-size;
    margin: 8px;
    margin-right: 24px;

    span {
      margin-left: 8px;
    }
  }

  .post-cates {
    @extend .post-date;

    .cates {
      @include flex(r, s, c);
    }

    a {
      margin: 0 8px;
      font-size: 14px;
      font-weight: 700;
      color: $MAIN0;

      &:hover {
        color: $MAIN3;
      }
    }
  }

  .post-content-preview {
    font-size: 16px;
    color: $GREY700;
  }

  .post-more {
    @include flex(r, e, s);
    font-size: 18px;
    margin: 0 24px 6px;
    a {
      @include post-link;
    }
  }

  .feather {
    $size: 18px;
    width: $size;
    height: $size;
    stroke: $date-color;
  }
}
