@import '../global/_all';

$date-color: $GREY600;
$date-size: 14px;

@mixin post-link {
  color: $MAIN0;
  &:hover, &:focus, &:active {
    color: $MAIN3;
  }
}

.post-preview {
  background: rgba(#fff, 0.6);
  padding: 12px;
  border-radius: 8px;
  margin: 12px auto;

  .post-title {
    font-size: 28px;
    @include post-link;;
  }

  .post-attr {
    margin-top: 12px;
  }

  .post-date {
    color: $date-color;
    font-size: $date-size;
    margin: 8px;

    span {
      margin-left: 3px;
    }
  }

  .post-cate {
    @extend .post-date;
  }

  .post-content-preview {
    font-size: 16px;
    color: $GREY700;
  }

  .post-more {
    @include flex(r, e, s);
    font-size: 18px;
    margin: 0 24px 6px;
    a {
      @include post-link;
    }
  }

  .icon {
    mask-size: $date-size;
    width: $date-size;
    height: $date-size;
    background: $date-color;
  }
}
