@import "../global/_all";

#sider {
  @media (max-width: 992px) {
    display: none;
  }

  margin: 24px 12px 24px 0;
  width: 240px;

  .categories,
  .archives,
  .algorithm {
    width: 100%;
    border-radius: 8px;
    background: rgba(#fff, 0.6);
    margin-bottom: 12px;
  }

  .algorithm {
    p {
      display: none;
    }
    li {
      padding: 12px;
      display: flex;
    }
    a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .title {
    padding: 12px;
    text-align: center;
    border-bottom: 3px solid $MAINB;
    font-weight: 700;
    color: $GREY900;
  }

  .more {
    padding: 12px;

    a {
      margin: 0 6px;
      color: $MAIN0;

      &:hover, &:active {
        color: $MAIN3;
      }
    }
  }

  ul {
    list-style: inside;
  }

  li {
    padding: 12px 0 12px 24px;
    border-bottom: 2px solid $MAINB;

    a {
      margin: 0 6px;
      color: $MAIN0;

      &:hover, &:active {
        color: $MAIN3;
      }
    }

    span {
      font-size: 14px;
      color: $GREY600;
      margin: 0 3px;

      &::before {
        content: '('
      }

      &::after {
        content: '篇)'
      }
    }
  }
}
