<!-- Main Content -->
<div id="index">

  <%- partial('_partial/intro') %>

  <!-- Content -->
  <div class="content">
    <div class="main">
      <div class="list">
        <% page.posts.each(function(post){ %>
          <%- partial('_partial/post-preview', {post: post}) %>
        <% }); %>
      </div>

      <!-- pagination -->
      <%- partial('_partial/pagination', {page: page, type: 'index'}) %>
    </div>

    <%- partial('_partial/sider') %>
  </div>
</div>
