<!DOCTYPE html>
<html lang="zh">
  <!-- Head tag -->
  <%- partial('_partial/head') %>
  <body>
    <!-- Header -->
    <%- partial('_partial/header') %>

    <!-- Main Content -->
    <section id="main"><%- body %></section>

    <!-- Footer -->
    <%- partial('_partial/footer') %>
  </body>
</html>
