<!DOCTYPE html>
<html lang="zh">
    <!-- Head tag -->
    <%- partial('_partial/head') %>

    <!-- hack iOS CSS :active style -->
    <body ontouchstart="" class="animated fadeIn">
        <!-- Header -->
        <%- partial('_partial/header') %>

        <!-- Main Content -->
        <section id="main"><%- body %></section>

        <!-- Footer -->
        <%- partial('_partial/footer') %>
    </body>
</html>
