<!-- Paintings Content -->
<div id="painting">

  <%
  const paintings = JSON.parse(
    site.pages.data[0]._content.match(/#\+BEGIN_SRC json([^]*)#\+END_SRC/)[1]
  )
  %>

  <%- partial('_partial/intro') %>
  
  <div class="content">
    <% paintings.map(painting => { %>
      <div class="card" style="display:none">
        <img alt="" src="<%= painting.src %>" />
        <p><%= painting.title %></p>
      </div>
    <% }) %>
  </div>

  <div class="photo-imager-container">
    <div class="image-container">
      <img alt="" src="<%= paintings[0].src %>" />      
    </div>
    <i class="icon-x icon"></i>
  </div>
</div>

