<!-- Post -->
<div id="post">
  <!-- about card -->
  <div class="about-card"></div>

  <!-- 正文 -->
  <div class="post-content">
    <article><%- page.content %></article>
  </div>

  <!-- 翻页 -->
  <%- partial('_partial/pagination', {page: page, type: 'post'}) %>

  <!-- 目录 -->
  <div class="hidden-xs col-sm-3 toc-col">
    <div class="toc-wrap">
      <%- toc(page.content, {list_number: false}) %>
    </div>
  </div>
</div>
