@import "../global/_all";

a {
  text-decoration: none;
  color: $MAIN1;

  &:hover, &:focus {
    color: $MAIN1;
    text-decoration: underline;
  }
  &:active {
    color: $MAIN1;
  }
}

.img-container {
  @include flex(c, c, c);
}
