@import "../global/_all";

body {
  background: #FEFEC3;
}

a {
  text-decoration: none;
  color: $MAIN1;

  &:hover, &:focus {
    color: $MAIN1;
    text-decoration: underline;
  }
  &:active {
    color: $MAIN1;
  }
}

.img-container {
  @include flex(c, c, c);
}

.divider {
  margin: 24px 0;
  height: 2px;
  width: 100%;
  background: rgba($GREY400, 0.6);
}

$icons: calendar, folder, arrow-left, arrow-right, arrow-up;

@each $icon in $icons {
  i.icon-#{$icon} {
    $size: 24px;

    display: inline-block;
    mask-image: url('/svg/#{$icon}.svg');
    mask-size: $size;
    width: $size;
    height: $size;
  }
}
