@import "../global/_all";

body {
  background: $MAINB;
}

a {
  text-decoration: none;
  color: $MAIN1;

  &:hover, &:focus {
    color: $MAIN1;
    text-decoration: underline;
  }
  &:active {
    color: $MAIN1;
  }
}

.intro {
  @include flex(c, c, c);
  width: 100%;
  height: 336px;
}

.img-container {
  @include flex(c, c, c);
}

.divider {
  margin: 24px 0;
  height: 2px;
  width: 100%;
  background: rgba($GREY400, 0.6);
}

