@import "../global/_all";

article > table {
  width: 100%;
  border: 2px solid #fff0;

  tr {
    background: rgba(#fff, 0.7);
    border-bottom: 2px solid $MAINB;

    td:nth-child(1), th:nth-child(1) {
      text-align: right;
    }
  }

  th, td {
    padding: 12px;
  }

  thead tr {
    border-bottom: 3px solid $MAINB;
  }
}

