<!-- Main Content -->
<div class="archives">
	<%
  const group = _.map(_.groupBy(site.posts.toArray(), p => p.date.format('YYYY')),
    (posts, year) => ({
      year: year,
      posts: _.sortBy(posts, p => p.date.format('MMDD')).reverse()
    })).reverse()
  %>
  <% group.forEach(function(item) { %>
	  <%- partial(
      '_partial/archive-posts',
      { year: item.year, posts: item.posts }
    ) %>
	<% }) %>
</div>
