<footer>
  <div>
    Copyright &copy; <%= config.facets_author %> 2016-<%= new Date().getFullYear() %>
  </div>
  <div>
    Theme by <a href="https://github.com/zhufuge/hexo-theme-facets">zhufuge</a>
  </div>
</footer>
