<header>
  <div class="container">
    <a href="<%= config.root %>">
      <span>
        <%= config.facets_author %>
      </span>
      's blog
    </a>
    <%- image_tag('svg/menu.svg', {width: 28}) %>
  </div>
</header>
