<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= config.description %>">

  <!-- favicon -->
  <link rel="icon" href="<%- config.favicon %>">

  <!-- styles -->
  <%- css('index.css') %>

  <title>
    <%= page.title ? page.title + '｜' + config.title : config.title %>
  </title>
</head>
