<header class="animated slideInDown">
  <div class="container">
    <div class="logo">
      <a href="<%= config.root %>">
        <span>
          <%= config.facets_author %>
        </span>
        's blog
      </a>
    </div>
    <div class="nav">
      <div class="menu">
        <i class="icon-menu icon"></i>
      </div>
      <ul class="fadeOut">
        <div class="triangle"></div>
        <%
        const navs = [
          { name: 'HOME', url: '' },
          { name: 'ARCHIVES', url: '/archives' },
          { name: 'PAINTINGS', url: '/paintings' },
        ]
        %>
        <% navs.forEach(function(item) { %>
          <a href="<%- url_for(item.url) %>"><li><%= item.name %></li></a>
        <% }) %>
        <div></div>
      </ul>
    </div>
  </div>
</header>
