<!-- Intro -->
<div class="intro animated">
  <div class="img-container">
    <img src="http://odjmen8gh.bkt.clouddn.com/0.png?imageView2/1/w/180/h/180" alt="" />
  </div>
  <a href="<%= config.root %>about/">
    <%= config.author %>
  </a>
  <p><%= config.facets_description || '' %></p>
</div>
