<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 visible-xs-block visible-sm-block">
    <div class="row">
        <header class="intro-header">
            <div class="container">
                <div class="site-heading text-center">
                    <div class="about-me">
                        <!--移动端头部显示-->
                        <img src="<%= config['sidebar-avatar'] %>"/>
                        <h5><a href="<%= config.root %>about/"><%= config.author %></a></h5>
                        <p><%= config['sidebar-about-description'] %></p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
