<div class="pager">
  <% if (type == 'index') { %>
    <div class="previous">
      <a
        class="<%= page.prev ? '' : 'non-use' %>"
        href="<%= page.prev ? url_for(page.prev_link) : '#' %>">
        <i data-feather="arrow-left"></i>
        <span>NEWER</span>
      </a>
    </div>
    <div class="next">
      <a
        class="<%= page.next ? '' : 'non-use' %>"
        href="<%= page.next_link ? url_for(page.next_link) : '#' %>">
        <span>OLDER</span>
        <i data-feather="arrow-right"></i>
      </a>
    </div>
  <% } %>

  <% if (type == 'post') { %>
    <div class="previous">
      <a href="javascript:history.back()">
        <i data-feather="arrow-left"></i>
        <span>BACK</span>
      </a>
    </div>
  <% } %>
</div>
