<!-- SIDER -->
<div id="sider">
  <div class="categories">
    <div class="title">CATEGORIES</div>
    <%- list_categories(site.categories, { show_count: true }) %>
  </div>
  <div class="archives">
    <div class="title">ARCHIVES</div>
    <%- list_archives(site.archives, {
      show_count: true,
      format: 'YYYY',/* don't work? */
    }) %>
  </div>
  <% var algoPost = null %>
  <% site.posts.each(function(post) {
    if (post.title === 'LeetCode-JS') {
      algoPost = post
    }
  }) %>
  <% if (algoPost) { %>
    <div class="algorithm">
      <div class="title">ALGORITHM</div>
      <%- algoPost.excerpt %>
      <div class="more"><a href="<%= url_for(algoPost.path) %>">more...</a></div>
    </div>
  <% } %>
</div>
