html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

img,
embed,
object,
audio,
video {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

body {
  background: #FEFEC3; }

a {
  text-decoration: none;
  color: #0085a1; }
  a:hover, a:focus {
    color: #0085a1;
    text-decoration: underline; }
  a:active {
    color: #0085a1; }

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.divider {
  margin: 24px 0;
  height: 2px;
  width: 100%;
  background: rgba(189, 189, 189, 0.6); }

i.icon-calendar {
  display: inline-block;
  mask-image: url("/svg/calendar.svg");
  mask-size: 24px;
  width: 24px;
  height: 24px; }

i.icon-folder {
  display: inline-block;
  mask-image: url("/svg/folder.svg");
  mask-size: 24px;
  width: 24px;
  height: 24px; }

i.icon-arrow-left {
  display: inline-block;
  mask-image: url("/svg/arrow-left.svg");
  mask-size: 24px;
  width: 24px;
  height: 24px; }

i.icon-arrow-right {
  display: inline-block;
  mask-image: url("/svg/arrow-right.svg");
  mask-size: 24px;
  width: 24px;
  height: 24px; }

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 336px;
  font-size: 16px; }
  .about-card .img-container {
    margin-top: 24px;
    width: 180px;
    height: 180px;
    border-radius: 180px;
    border: 1px solid #EEEEEE;
    overflow: hidden; }
    .about-card .img-container:hover {
      box-shadow: 0 0 10px white; }
  .about-card a {
    margin: 8px auto 6px;
    font-size: 1em;
    font-weight: 600;
    color: #424242; }
    .about-card a:hover, .about-card a:focus, .about-card a:active {
      color: white; }
  .about-card p {
    margin-bottom: 36px;
    color: #616161; }

#index-content {
  margin: 24px 0;
  padding: 0 15px; }

.header-shadow {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.48); }

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 56px; }
  @media (min-width: 992px) {
    header {
      box-shadow: 0 0 10px rgba(33, 33, 33, 0.48); } }
  header::before {
    content: ' ';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    background: #F3170C; }
  header a {
    color: black;
    font-size: 1.2em;
    font-weight: 600; }
    header a:hover, header a:focus, header a:active {
      text-decoration: none;
      color: black; }
    header a span {
      padding: 2px 0 4px 6px;
      margin: 4px;
      color: white;
      background: #212121;
      border-radius: 3px; }
  header .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 14px; }
    @media (min-width: 768px) {
      header .container {
        padding: 0 100px;
        font-size: 16px; } }

body > footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  color: #757575;
  font-weight: 300; }

.post-preview .post-title {
  font-size: 28px;
  color: #FE917D; }
  .post-preview .post-title:hover, .post-preview .post-title:focus, .post-preview .post-title:active {
    color: #FE677E; }

.post-preview .post-date, .post-preview .post-cate {
  color: #757575;
  font-size: 14px;
  margin: 8px; }
  .post-preview .post-date span, .post-preview .post-cate span {
    margin-left: 3px; }

.post-preview .post-content-preview {
  font-size: 16px;
  color: #616161; }

.post-preview .post-more {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  font-size: 18px;
  margin: 0 24px; }
  .post-preview .post-more a {
    color: #FE917D; }
    .post-preview .post-more a:hover, .post-preview .post-more a:focus, .post-preview .post-more a:active {
      color: #FE677E; }

.post-preview .icon {
  mask-size: 14px;
  width: 14px;
  height: 14px;
  background: #757575; }

.pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .pager .previous, .pager .next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6px; }
  .pager a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
    border: 2px solid rgba(189, 189, 189, 0.6);
    font-size: 18px;
    font-weight: 600;
    color: #212121; }
    .pager a .icon {
      background: #212121; }
    .pager a:hover, .pager a:focus, .pager a:active {
      text-decoration: none;
      background: #FE917D;
      border: 2px solid #FE917D;
      color: #FEFEC3; }
      .pager a:hover .icon, .pager a:focus .icon, .pager a:active .icon {
        background: #FEFEC3; }
    .pager a span {
      padding: 0 6px; }

/*# sourceMappingURL=index.css.map */